@font-face {
  font-family: "aa_qwertz-tastenregular";
  src: url("aaqwertztasten.woff2") format("woff2"),
    url("aaqwertztasten.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
