@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.woff2") format("woff2"),
    url("Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.woff2") format("woff2"),
    url("Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn";
  src: url("Vollkorn-Regular.woff2") format("woff2"),
    url("Vollkorn-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Road Rage";
  src: url("RoadRage.woff2") format("woff2"),
    url("RoadRage.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coubra";
  src: url("Coubra.woff2") format("woff2"), url("Coubra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "aa QWERTZ-Tasten";
  src: url("aaQWERTZ-Tasten.woff2") format("woff2"),
    url("aaQWERTZ-Tasten.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
