.play {
  --primary-color: #fede5d;
  --text-color: #72f1b8;
  --alt-color-1: #03edf9;
  --alt-color-2: #f97e72;
  --alt-color-3: #ff7edb;

  #icon path {
    fill: var(--alt-color-1);
  }
}
canvas.particles {
  position: fixed;
  left: 0;
  top: 0;
}

canvas.three-grid {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}

@import "../assets/font/aaqwertztasten/stylesheet.css";

.exit {
  font-style: normal;
  margin: 50px 0 0;
  .letters {
    font-family: "aa_qwertz-tastenregular";
    font-size: 70px;
    color: var(--alt-color-2);

    .active {
      color: var(--alt-color-3);
    }
  }
}
