.play {
  --primary-color: #36f9f6;
  --alt-color: #ff7edb;

  #icon path {
    fill: var(--alt-color);
  }
}

canvas.particles {
  position: fixed;
  left: 0;
  top: 0;
}

canvas.three-grid {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}

@import "../assets/font/aaqwertztasten/stylesheet.css";

.exit {
  font-style: normal;
  margin: 50px 0 0;
  span {
    font-family: "aa_qwertz-tastenregular";
    font-size: 70px;
    color: var(--alt-color);
  }
}
