@import "../assets/font/stylesheet.css";

.play {
  --grid-color: #570296;
  --alt-color-1: #03edf9;
  --alt-color-2: #ff7edb;
  --alt-color-3: #f97e72;
  --alt-color-4: #fede5d;
  --alt-color-5: #72f1b8;

  background: #000;
  text-align: center;

  #page-transition.animate {
    background: var(--grid-color);
  }

  #wrapper {
    padding-top: 5%;
  }

  h1,
  h2,
  p {
    display: none;
  }

  .icon {
    background: var(--alt-color-1);
    width: 180px;
  }
  .icon path {
    fill: #000;
  }

  h5 {
    font-family: "Road Rage";
    color: #fff;
    font-weight: normal;
    font-size: 3em;
    line-height: 1.3em;
    text-shadow: 0 0 30px var(--alt-color-2);
  }

  h6 {
    font-family: "Coubra";
    font-weight: normal;
    font-size: 2em;
    line-height: 1.3em;
    background: linear-gradient(to top, var(--alt-color-3), var(--alt-color-4));
    color: transparent;
    background-clip: text;
  }

  .exit {
    margin-top: 2em;
    .letters {
      font-style: normal;
      font-family: "aa QWERTZ-Tasten";
      font-size: 5em;
      color: var(--alt-color-4);
      .active {
        color: var(--alt-color-5);
      }
    }
  }

  canvas.particles {
    position: fixed;
    left: 0;
    top: 0;
  }

  canvas.three-grid {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
    animation-name: gridFadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes gridFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
