#page-transition.animate {
  background: var(--primary-color);
  width: 200vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  animation-name: backgroundSlide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes backgroundSlide {
  from {
    transform: skew(-20deg) translate3d(-100%, 0, 0);
  }

  to {
    transform: skew(-20deg) translate3d(100%, 0, 0);
  }
}

#wrapper.animate {
  opacity: 0;
  animation-name: wrapperFadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes wrapperFadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.links.animate {
  opacity: 0;
  animation-name: linksFadeIn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes linksFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

footer.animate {
  opacity: 0;
  animation-name: footerFadeIn;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes footerFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
